In [69]:
from sqlalchemy import create_engine
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

In [70]:
def create_connection():

    load_dotenv()
    
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    db = os.environ.get('DB_DESTINATION_NAME')
    
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

In [71]:
# устанавливаем соединение с базой
conn = create_connection()

postgresql://mle_20250507_60d03b0a2f_freetrack:c2538958c7974067a843c0a10811d6db@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20250507_60d03b0a2f

In [72]:
# выгружаем датасет
data = pd.read_sql("SELECT * FROM public.cost_estimate", conn)
data.shape

(141362, 19)

In [73]:
data.head()

,id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator,build_type_floors
0,0,9,0,9.9,19.900000,1,0,35.099998,9500000,6220,1965,6,55.717113,37.781120,2.64,84,12,1,high_rise
1,1,7,0,0.0,16.600000,1,0,43.000000,13500000,18012,2001,2,55.794849,37.608013,3.00,97,10,1,high_rise
2,2,9,0,9.0,32.000000,2,0,56.000000,13500000,17821,2000,4,55.740040,37.761742,2.70,80,10,1,high_rise
3,3,1,0,10.1,43.099998,3,0,76.000000,20000000,18579,2002,4,55.672016,37.570877,2.64,771,17,1,high_rise
4,4,3,0,3.0,14.000000,1,0,24.000000,5200000,9293,1971,1,55.808807,37.707306,2.60,208,9,1,multy_story

In [74]:
# проверка на дубликаты
feature_cols = data.columns.drop({'id','build_type_floors'}).tolist()

In [75]:
feature_cols

['floor',
 'is_apartment',
 'kitchen_area',
 'living_area',
 'rooms',
 'studio',
 'total_area',
 'price',
 'building_id',
 'build_year',
 'building_type_int',
 'latitude',
 'longitude',
 'ceiling_height',
 'flats_count',
 'floors_total',
 'has_elevator']

In [76]:
is_duplicated_features = data.duplicated(subset=feature_cols, keep=False)

In [77]:
is_duplicated_features

0         False
1         False
2         False
3         False
4         False
          ...
141357    False
141358    False
141359    False
141360    False
141361    False
Length: 141362, dtype: bool

In [78]:
data = data[~is_duplicated_features].reset_index(drop=True)

In [79]:
data.shape

(123937, 19)

In [80]:
141362-123937

17425

In [115]:
# проверка на Null
cols_with_nans = data.isnull().sum()

In [116]:
cols_with_nans

id                   0
floor                0
is_apartment         0
kitchen_area         0
living_area          0
rooms                0
studio               0
total_area           0
price                0
building_id          0
build_year           0
building_type_int    0
latitude             0
longitude            0
ceiling_height       0
flats_count          0
floors_total         0
has_elevator         0
build_type_floors    0
dtype: int64

In [83]:
data['build_type_floors'].value_counts()

build_type_floors
high_rise      78359
multy_story    28923
mid_rise       12154
low_rise         471
skyscraper       265
Name: count, dtype: int64

In [84]:
null_val = data[data['build_type_floors'].isnull()]

In [85]:
null_val

,id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator,build_type_floors
43,49,22,0,12.0,60.000000,2,0,94.000000,22450000,22115,2012,2,55.827671,37.487568,3.1,327,40,1,None
87,94,20,0,24.0,29.500000,2,0,75.000000,28000000,21814,2011,2,55.676590,37.634090,3.0,625,33,1,None
111,120,18,0,13.1,23.000000,1,0,44.099998,12400000,23623,2017,2,55.646229,37.705841,2.8,979,30,1,None
255,288,14,0,12.0,16.000000,1,0,41.400002,12500000,22649,2014,2,55.638069,37.332733,2.8,299,27,1,None
433,481,23,0,4.0,60.400002,3,0,87.599998,37500000,21850,2011,2,55.774033,37.467220,3.0,204,40,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123815,141180,15,0,9.0,35.500000,2,0,56.500000,13300000,20908,2008,2,55.809341,37.455643,2.8,528,26,1,None
123849,141247,16,0,14.0,60.000000,2,0,76.000000,26200000,20892,2008,2,55.791176,37.520420,3.0,770,26,1,None
123861,141259,42,0,10.0,27.000000,1,0,41.000000,11300000,24237,2018,2,55.803574,37.591038,3.0,431,47,1,None
123862,141260,27,0,10.4,35.599998,2,0,57.500000,8500000,23625,2017,2,55.646229,37.705841,2.8,979,32,1,None
123920,141340,39,0,10.0,80.000000,2,0,112.000000,45000000,22087,2012,2,55.744308,37.419521,3.0,332,40,1,None

In [86]:
cols_with_nans = cols_with_nans[cols_with_nans > 0].index

In [87]:
cols_with_nans

Index(['build_type_floors'], dtype='object')

In [88]:
for col in cols_with_nans:
    if data[col].dtype in [float, int]:
        fill_value = data[col].mean()
    elif data[col].dtype == 'object':
        fill_value = data[col].mode().iloc[0]

    data[col] = data[col].fillna(fill_value)

In [89]:
data['build_type_floors'].value_counts()

build_type_floors
high_rise      82124
multy_story    28923
mid_rise       12154
low_rise         471
skyscraper       265
Name: count, dtype: int64

In [90]:
# проверка на выбросы
num_cols = data.select_dtypes(['float']).columns.drop({'latitude', 'longitude'})

In [91]:
num_cols

Index(['kitchen_area', 'living_area', 'total_area', 'ceiling_height'], dtype='object')

In [92]:
threshold = 1.5
potential_outliers = pd.DataFrame()

In [93]:
for col in num_cols:
    Q1 = data[col].min() 
    Q3 = data[col].max() 
    IQR = Q3 - Q1 
    margin =threshold * IQR 
    lower = Q1 - margin
    upper = Q3 + margin
    potential_outliers[col] = ~data[col].between(lower, upper)

In [94]:
potential_outliers.value_counts()

kitchen_area  living_area  total_area  ceiling_height
False         False        False       False             123937
Name: count, dtype: int64

In [96]:
outliers = potential_outliers.any(axis=1)

In [97]:
data = data[~outliers].reset_index(drop=True)

In [98]:
# проверка на 0 в колонках с площадью
data['total_area'] = data['total_area'].astype(float)
data['living_area'] = data['living_area'].astype(float)
data['kitchen_area'] = data['kitchen_area'].astype(float)

In [99]:
# 1. проверяем на 0.0 в поле 'total_area'
zero_area_val = data[data['total_area'].isin([0.0])]

In [100]:
if zero_area_val.shape[0] > 0:
    data.loc[~data['living_area'].isin([0.0]) & ~data['kitchen_area'].isin([0.0]), 'total_area'] = data['living_area'] + data['kitchen_area']

In [105]:
# 2. проверяем на 0.0 в полях 'living_area' и 'kitchen_area' одновременно",
zero_area_val = data[data['living_area'].isin([0.0]) & data['kitchen_area'].isin([0.0]) & ~data['total_area'].isin([0.0])]

In [106]:
# распределим площади пропорционально учитывая количество комнат, т.е.\n",
# если комната одна, то жилая к нежилой 70%/30%\n",
# если комнат больше одной, то жилая к кухне - 50%/30%\n",
if zero_area_val.shape[0] > 0:
    data.loc[data['rooms'] == 1 & data['living_area'].isin([0.0]) & data['kitchen_area'].isin([0.0]) & ~data['total_area'].isin([0.0]), 'living_area'] = data['total_area']*0.7
    data.loc[data['rooms'] == 1 & data['living_area'].isin([0.0]) & data['kitchen_area'].isin([0.0]) & ~data['total_area'].isin([0.0]), 'kitchen_area'] = data['total_area']*0.3
    data.loc[data['rooms'] > 1 & data['living_area'].isin([0.0]) & data['kitchen_area'].isin([0.0]) & ~data['total_area'].isin([0.0]), 'living_area'] = data['total_area']*0.5
    data.loc[data['rooms'] > 1 & data['living_area'].isin([0.0]) & data['kitchen_area'].isin([0.0]) & ~data['total_area'].isin([0.0]), 'kitchen_area'] = data['total_area']*0.3

In [107]:
zero_area_val = data[data['living_area'].isin([0.0]) | data['kitchen_area'].isin([0.0])]
zero_area_val.value_counts()

Series([], Name: count, dtype: int64)

In [108]:
if zero_area_val.shape[0] > 0:
    data.loc[data['living_area'].isin([0.0]) & ~data['kitchen_area'].isin([0.0]) & ~data['total_area'].isin([0.0]), 'living_area'] = data['total_area'] - data['kitchen_area']
    data.loc[~data['living_area'].isin([0.0]) & data['kitchen_area'].isin([0.0]) & ~data['total_area'].isin([0.0]), 'kitchen_area'] = data['total_area'] - data['living_area']

In [ ]:
# проверка на 0 в колонках с ценой и высотой этажа
data['price'] = data['price'].astype(int)
zero_area_val = data[data['price'].isin([0.0])]

In [121]:
cols_with_nans = data[['price','ceiling_height']].isin([0]).sum()

In [122]:
cols_with_nans

price             0
ceiling_height    0
dtype: int64

In [123]:
cols_with_nans = cols_with_nans[cols_with_nans > 0].index
for col in cols_with_nans:
    fill_value = data[col].mean()

    data[col] = data[col].fillna(fill_value)