In [1]:
from sqlalchemy import create_engine
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

In [ ]:
def create_connection():

    load_dotenv()
    
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    db = os.environ.get('DB_DESTINATION_NAME')
    
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

In [3]:
# устанавливаем соединение с базой
conn = create_connection()

postgresql://mle_20250507_60d03b0a2f_freetrack:c2538958c7974067a843c0a10811d6db@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20250507_60d03b0a2f

In [4]:
# выгружаем датасет
data = pd.read_sql("SELECT * FROM public.cost_estimate", conn)
data.shape

(141362, 19)

In [5]:
data.head()

,id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator,build_type_floors
0,0,9,0,9.9,19.900000,1,0,35.099998,9500000,6220,1965,6,55.717113,37.781120,2.64,84,12,1,high_rise
1,1,7,0,0.0,16.600000,1,0,43.000000,13500000,18012,2001,2,55.794849,37.608013,3.00,97,10,1,high_rise
2,2,9,0,9.0,32.000000,2,0,56.000000,13500000,17821,2000,4,55.740040,37.761742,2.70,80,10,1,high_rise
3,3,1,0,10.1,43.099998,3,0,76.000000,20000000,18579,2002,4,55.672016,37.570877,2.64,771,17,1,high_rise
4,4,3,0,3.0,14.000000,1,0,24.000000,5200000,9293,1971,1,55.808807,37.707306,2.60,208,9,1,multy_story

In [11]:
feature_cols = data.columns.drop({'id','build_type_floors'}).tolist()

In [12]:
feature_cols

['floor',
 'is_apartment',
 'kitchen_area',
 'living_area',
 'rooms',
 'studio',
 'total_area',
 'price',
 'building_id',
 'build_year',
 'building_type_int',
 'latitude',
 'longitude',
 'ceiling_height',
 'flats_count',
 'floors_total',
 'has_elevator']

In [13]:
is_duplicated_features = data.duplicated(subset=feature_cols, keep=False)

In [14]:
is_duplicated_features

0         False
1         False
2         False
3         False
4         False
          ...
141357    False
141358    False
141359    False
141360    False
141361    False
Length: 141362, dtype: bool

In [15]:
data = data[~is_duplicated_features].reset_index(drop=True)

In [16]:
data.shape

(123937, 19)

In [17]:
141362-123937

17425

In [18]:
cols_with_nans = data.isnull().sum()

In [19]:
cols_with_nans

id                      0
floor                   0
is_apartment            0
kitchen_area            0
living_area             0
rooms                   0
studio                  0
total_area              0
price                   0
building_id             0
build_year              0
building_type_int       0
latitude                0
longitude               0
ceiling_height          0
flats_count             0
floors_total            0
has_elevator            0
build_type_floors    3765
dtype: int64