In [1]:
from sqlalchemy import create_engine
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

In [2]:
def create_connection():

    load_dotenv()
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    db = os.environ.get('DB_DESTINATION_NAME')
    
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

In [3]:
# устанавливаем соединение с базой
conn = create_connection()

postgresql://mle_20250507_60d03b0a2f_freetrack:c2538958c7974067a843c0a10811d6db@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20250507_60d03b0a2f

In [4]:
# выгружаем датасет
data = pd.read_sql("SELECT 	" \
"f.id, 	f.floor, f.is_apartment, f.kitchen_area, f.living_area, f.rooms, f.studio, f.total_area, f.price, f.building_id, " \
"b.build_year, b.building_type_int, b.latitude, b.longitude, b.ceiling_height, b.flats_count, b.floors_total, b.has_elevator " \
"FROM public.flats f " \
"left join buildings b  " \
"on f.building_id = b.id", conn)
data.shape

(141362, 18)

In [6]:
data.head()

,id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator
0,0,9,False,9.9,19.900000,1,False,35.099998,9500000,6220,1965,6,55.717113,37.781120,2.64,84,12,True
1,1,7,False,0.0,16.600000,1,False,43.000000,13500000,18012,2001,2,55.794849,37.608013,3.00,97,10,True
2,2,9,False,9.0,32.000000,2,False,56.000000,13500000,17821,2000,4,55.740040,37.761742,2.70,80,10,True
3,3,1,False,10.1,43.099998,3,False,76.000000,20000000,18579,2002,4,55.672016,37.570877,2.64,771,17,True
4,4,3,False,3.0,14.000000,1,False,24.000000,5200000,9293,1971,1,55.808807,37.707306,2.60,208,9,True

In [7]:
y = data['price']

In [8]:
from sqlalchemy import Table, MetaData, Column, Integer, Float, String, DateTime, Boolean, UniqueConstraint, inspect

In [34]:
data['is_apartment'] = data['is_apartment'].astype(int)

In [35]:
data['studio'] = data['studio'].astype(int)

In [36]:
data['has_elevator'] = data['has_elevator'].astype(int)

In [41]:
def type_build(value):
    if value <= 3:
        return "low_rise"
    if 3 < value <= 5:
        return "mid_rise"
    elif 5 < value <= 9:
        return "multy_story"
    elif 9 < value <= 25:
        return "high_rise"

In [42]:
data['build_type_floors'] = data['floors_total'].map(type_build) #data.apply(lambda row: row.floors_total*row.ceiling_height, axis =1)

In [43]:
data.head()

,id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator,build_type_floors
0,0,9,0,9.9,19.900000,1,0,35.099998,9500000,6220,1965,6,55.717113,37.781120,2.64,84,12,1,high_rise
1,1,7,0,0.0,16.600000,1,0,43.000000,13500000,18012,2001,2,55.794849,37.608013,3.00,97,10,1,high_rise
2,2,9,0,9.0,32.000000,2,0,56.000000,13500000,17821,2000,4,55.740040,37.761742,2.70,80,10,1,high_rise
3,3,1,0,10.1,43.099998,3,0,76.000000,20000000,18579,2002,4,55.672016,37.570877,2.64,771,17,1,high_rise
4,4,3,0,3.0,14.000000,1,0,24.000000,5200000,9293,1971,1,55.808807,37.707306,2.60,208,9,1,multy_story

In [48]:
data.loc[data['floors_total']*data['ceiling_height'] >= 150, 'build_type_floors'] = 'skyscraper'

In [53]:
data['build_type_floors'].value_counts()

build_type_floors
high_rise      89600
multy_story    32836
mid_rise       13632
low_rise         550
skyscraper       311
Name: count, dtype: int64